<div class="card border">
        <!-- <a href="/"> -->
            <!-- <div class="aspect-ratio"> -->
                <img class="card-img-top" [id]="product.id" [alt]="product.title" [src]="product.image">
                <!-- <noscript>
                <img [src]="product.image" [alt]="product.title">
                </noscript> -->
            <!-- </div> -->
        <!-- </a> -->
    <div class="card-body">
        <div class="product-item__info">
            <div class="product-item__info-inner">
                <a href="/" class="product-item__title text--strong link">{{product.description}}</a>
                <div class="product-item__price-list price-list"><span class="price">
                    <span class="visually-hidden">Precio de venta</span>{{product.price}}</span>
                </div>
            </div>
            <!-- <form method="post" action="/cart/add" id="product_form_id_6213584879772_collection-template" accept-charset="UTF-8" class="product-item__action-list product-item__action-list--list-view-only button-stack" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="product">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="id" value="37812309098652">
                <button type="submit" class="product-item__action-button product-item__action-button--list-view-only button button--small button--primary" data-action="add-to-cart">Añadir al carrito</button>
                <button type="button" class="product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-collection-template" data-product-url="/products/taste-of-the-wild-lowland-creek-6-6-kg">Vista rápida</button>
                <input type="hidden" name="product-id" value="6213584879772">
                <input type="hidden" name="section-id" value="collection-template">
            </form> -->
        </div>
    </div>
</div>
